<header>
    <nav>
        <h1>Acervo Code7</h1>
        <ul class="menu">
            <li class="menu-item"><a href="#">Filmes</a></li>
            <li class="menu-item"><a href="#">Séries</a></li>
            <li class="menu-item"><a href="#">Desenhos</a></li>
        </ul>
        <div>
            <input type="text" placeholder="Pesquisa..." required>
        </div>
    </nav>        
</header>
  
<main>
    <ul class="acervo">
        <li class="acervo-item" *ngFor="let i of images">
            <a href="#">
                <div class="item-info">
                    <p class="titulo">{{ i.nome }} <sup class="ano">({{ i.ano }})</sup></p>
                    <p class="diret">{{ i.diretor }}</p>
                    <p class="genero">{{ i.genero }}</p>
                    <p class="descr">{{ i.descricao }}</p>
                </div>
                <img class="poster" [src]="i.poster" [alt]="i.nome" />
            </a>
        </li>
    </ul>
</main>
  
<footer>
    <p>Copyright &copy; Rayanne Bertolace Lima 2020</p>
</footer>
  
  
